* {
    background-color: #212124;
    font-family: Arial, sans-serif;
    font-weight: lighter;
    
}
img {
    max-width:250px;
}

header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    background: #111819;
    font-size: 25px;
}

main {
    display: none;
}

h1 {
    margin-bottom: 0;
}

p {
    text-align: center;
    margin-bottom: 1rem;
}

.pure-u-1-3 {
    width: 100%;
}

#genres {
    width: min-content;
}

.header {
    color: white;
    background: #111819;
}
form {
    color: white;
    background: #111819;
}
option {
    background-color: #212124;
    color: white;
}
.genres {
    background-color: #212124;
    color: white;
}
.title {
    color: white;
    font-size: 30px;
}

p {
    color: white;
    font-size:20px;
}

h2 {
    color: white;
}

.subtitle {
    font-size: 50px;
    text-align: center;
}

#genre-container {
    display: flex;
    vertical-align: middle;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

a {
    font-size: 30px;
}

.favorite {
    margin: 1rem;
    /* margin-bottom: 1rem; */
    width: min-content;
    text-decoration: none;
}

.column {
    display: none;
}

.title:hover {
    color:#21D0E8;
    transition: all 0.3s ease;
}

.list-title {
    list-style: none;
}

.favs-list {
    list-style: none;
}